# Project Specific Rules
.vscode/
decompressed_vcf_output.vcf
input_file.h5

## General Ignore Rules
# Mac
.DS_Store
*.log

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

metallaxis/__pycache__/

\.idea/

build/

dist/

Metallaxis\.egg-info/

metallaxis/annotation/data/
